html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    font-style: normal;
    font-family: sans-serif;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    text-align: justify;
}

nav {
    background: #10acb8e7;
    border-bottom: 5px double black;
}

.container {
    overflow: hidden;
    position: relative;
}

.container a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.container a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.container #myLinks {
    display: none;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    padding-top: 5px;
    float: left;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    text-align: center;
    position: relative;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #55d6aa;
    position: absolute;
    top: 30%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

footer {
    background-color: #303036;
    text-align: center;
    color: white;
    height: 30px;
}

#informacio {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}

#tetelkerdes {
    text-align: justify;
}

#wrapper {
    padding: 0px 50px 50px 50px;
}

#textArea {
    display: block;
    width: 100%;
}

h2 {
    padding: 20px;
    font-weight: bold;
}

.content-table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.FoCimek {
    background-color: #55d6aa;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.content-table th, td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid darkgray;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid;
}

.AlCimek {
    background-color: lightgray;
    font-weight: bold;
}

li {
    font-weight: normal;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #55d6aa;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.letoltes {
    border-radius: 10px;
    background: #10acb8e7;
    width: 100px;
    height: 50px;
    text-align: center;
}

input[type=number] {
    width: 70px;
}

#result {
    font-weight: bold;
    text-align: center;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
    color: #10acb8e7;
    background-color: #10acb8e7;
    height: 80px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-body a:hover {
    text-decoration: none;
}

#kezdolap {
    padding: 30px 0px;
}

.cim p {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding: 25px 0px;
    color: white;
}

#kezdohatter {
    background-image: url("cardbg1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

.lower {
    font-size: 25px;
}

.beljebb {
    margin-left: 40px;
}

.alahuzott {
    text-decoration: underline;
}
